* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.product-img {
  float: left;
  margin-right: 40px;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.product {
  width: 825px;
  border: 4px solid black;
  margin: 25px auto;
}

article {
  border: 4px solid black;
}

.heading {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 15px;
}

.price {
  font-weight: bolder;
  font-size: 25px;
  float: left;
}
.shipping {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-left: 8px;
}

.product-description {
  clear: both;
}
.more {
  color: black;
  margin-top: 10px;
  padding-top: ;
  display: inline-block;
}

.listelements {
  list-style-type: square;
}

.heading2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
}
.more:hover,
.more:visited {
  text-decoration: none;
}

.button:hover {
  background-color: transparent;
  color: black;
  cursor: pointer;
  border-top: 4px solid black;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.boxes {
  display: flex;
  margin-top: 15px;
}

.box-black {
  height: 20px;
  width: 20px;
  background-color: black;
  margin-right: 10px;
  border-radius: 15px;
}

.box-red {
  height: 20px;
  width: 20px;
  background-color: red;
  margin-right: 10px;
  border-radius: 15px;
}

.box-blue {
  height: 20px;
  width: 20px;
  background-color: blue;
  margin-right: 10px;
  border-radius: 15px;
}

.box-yellow {
  height: 20px;
  width: 20px;
  background-color: yellow;
  margin-right: 10px;
  border-radius: 15px;
}

.box-brown {
  height: 20px;
  width: 20px;
  background-color: brown;
  margin-right: 10px;
  border-radius: 15px;
}

.box-green {
  height: 20px;
  width: 20px;
  background-color: green;
  margin-right: 10px;
  border-radius: 15px;
}

.saletag {
  background-color: red;
  padding: 7px 15px;
  display: inline-block;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: -18px;
  left: -38px;
  letter-spacing: 2px;
}

.one {
  float: left;
  width: 243px;
  margin-right: 40px;
  padding-top: 20px;
}

.two {
  float: right;
  width: 243px;
  padding-top: 20px;
}
